ul{
    width: 100%;
    height: 100%;
    background-color: rgb(224, 219, 219);
    li{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #fff;
        border-bottom: 1px solid #ccc;
    }
}