.car{
  width: 100%;
  height: 100%;
  background:#fff;

  .bread{
    height: 40px;
    background:rgb(228, 192, 192);
    text-align: center;
    line-height: 40px;
  }
  .btnCon{
    margin: 10px 0;
  }
}
.outputData{
  margin-right: 10px;
}

.table-operations {
    margin-bottom: 16px;
    background:#fff;
  }
  
  .table-operations > button {
    margin-right: 8px;
  }

  .tableStyle{
    background:pink;
  }
  